.joke{
    line-height: 40px;
    font-size: 25px;
    margin: 30px;
}

.btn{
    font-family: 'Poppins', sans-serif;
    border: 0;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    width: 90%;
    align-self: center;
}

.btn:active{
    transform: scale(.98);
}

.btn:focus{
    outline: 0;
}

@media only screen and (max-width: 600px) {
    .joke {
        font-size: 20px;
    }
  }
