
.container{
    background-color: white;
    width: 500px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 10px;
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
    background-color: black;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
     width: 100%;
    }
  }
